footer{}
footer>div.footerTop{
    height: 140px; background: #263238;
}
footer>div.footerTop>div{
    height: 140px;
}
footer>div.footerTop>div>dl.utilBtm{
    display: flex; align-items: center;
    margin-bottom: 12px;
    height: 50px;
}
footer>div.footerTop>div>dl.utilBtm>dd{
    position: relative;
    padding: 0 10px;
}
footer>div.footerTop>div>dl.utilBtm>dd:not(:first-of-type)::after{
    position: absolute; left: 0;top: calc(50% - 7px);
    border-left: 1px solid #a1a1a1;
    height: 13px;
    content: "";
}
footer>div.footerTop>div>dl.utilBtm>dd>a{
    color: #a1a1a1;
    font:bold 14px/14px "dotum",sans-serif;
}
footer>div.footerTop>div>dl.utilBtm>dd.sns{}
footer>div.footerTop>div>dl.utilBtm>dd.sns>ul{
    display: flex; align-items: center;
    height: 55px;
}
footer>div.footerTop>div>dl.utilBtm>dd.sns>ul>li{}

footer>div.footerTop>div>dl.family{
    margin: 0 15px;
    position: relative; z-index: 9999;
    background: #1e292e;
}
footer>div.footerTop>div>dl.family>dt{
    padding-left: 28px;
    height: 55px;
    background: url(../../imgs/family_off.png)no-repeat 95% 50%;
    font:bold 14px/55px "dotum",sans-serif;
    color: #a1a1a1; 
}
footer>div.footerTop>div>dl.family>dd{
    display: none;
    border-top: 1px solid #424242;
    background: #1e292e;
}
footer>div.footerTop>div>dl.family>dd>ul{
    padding: 14px 30px;}
footer>div.footerTop>div>dl.family>dd>ul>li{
    height: 27px;
    font: bold 12px/27px "Malgun Gothic",sans-serif;
}
footer>div.footerTop>div>dl.family>dd>ul>li>a{
    color: #a1a1a1;
}
/* 이벤트 */
footer>div.footerTop>div>dl.family.on{
    
}
footer>div.footerTop>div>dl.family.on>dt{
    background: url(../../imgs/family_on.png)no-repeat 95% 50%;
}
footer>div.footerTop>div>dl.family.on>dd{
    display: block;
}
footer>div.footerTop>div>dl.family.on>dd>ul>li:hover>a{
    color: #fff;
}
footer>div.footerBottom{
    height: 102px; background: #e9eaeb;
}
footer>div.footerBottom>div{
    margin: 0 auto;
    width: 1200px;
}