/*ROOT*/
:root {
    --br-main-pink: #eb6ea5;
    --br-main-blue: #004ea2;
    --font-dark: #222;
    --font-gray:#666;
    --font-white: whitesmoke;
    --subfont-brown1:#7d7364;
    --subfont-brown2:#524636;
    --bg-white: #fff;
    --bg-pink: #F5B6D2; 
    --box-shadow: rgba(80,80,80,.5);
}

main{}
main>aside{
    margin-top: 80px;
    height: 481px;
    text-align: center;
    font-size: 0; line-height: 0;
    background-color: var(--bg-pink);
}
main>aside>video{
    width: 1200px;
    height: 481px;
}
main>div{
    position: relative;
    margin: 0 auto;
    width: 1200px;
}
.theme{margin: 80px 0;}
.theme>ul{
    display: flex;
    justify-content: space-between;
}
.theme>ul>li{
    overflow: hidden;
    flex: 0 0 294px;
}
.theme>ul>li>a{
    position: relative;
    display: block;
}
.theme>ul>li>a>img{
    width: 294px;
    height: 294px;
    vertical-align: top;
}
.theme>ul>li>a>img:nth-child(2){
    opacity: 0;
    transition: all .5s ease;
}
.theme>ul.themeList>li>a>img:nth-child(3){
    bottom: -10px; right: -30px;
    transition: all .5s ease;
}
.theme>ul>li>a>img:not(:first-child){
    position: absolute;
    right: 0; bottom: 0;
}
.theme>ul:nth-child(1)>li>a>img:last-child{
    height: 250px;width: auto;
}
.theme>ul:nth-child(2)>li>a>img:last-child{
    height: 250px;width: auto;
}
.theme>ul:nth-child(3)>li>a>img:last-child{
    height: 300px;width: auto;
}
.theme>ul:nth-child(4)>li>a>img:last-child{
    height: 300px;width: auto;
}

/* 이벤트 */
.theme>ul>li:hover>a>img:nth-child(2){
    opacity:1;
}
.theme>ul>li:hover>a>img:nth-child(3){
    right: 0;
}




/* BR EVENT */
div.contents{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 682px;
}
div.contents h1{
    font: 20px/40px 'Malgun gothic',sans-serif;
    font-weight: bold;
    color: var(--subfont-brown2);
}
div.contents b{
    width: 57px;height: 19px;
    border: 1px solid#e17350;
    text-align: center;
    font: 12px/19px "dotum",sans-serif;
    color: #e17350;
}
div.contents .board{

}
div.contents .news{
    border-color: #58b549; color: #58b549;
}
div.contents>section.coNews{
    padding: 0 20px;
    flex: 0 0 347px; width: 347px;
    border-top: 2px solid var(--bg-pink);
}
div.contents>section.coNews>h1{
    border-bottom: 1px solid #e1e1e1;
}
div.contents>section.coNews>dl{
    margin-bottom: 25px;
}
div.contents>section.coNews>dl>dt{
    margin-bottom: 27px;
}
div.contents>section.coNews>dl>dt>b{
    display: block;
    margin: 20px 0 16px 0;
    font: 12px/19px "dotum",sans-serif;
}
div.contents>section.coNews>dl>dt>a{
    display: block;
    margin-bottom: 10px;
    font: 18px/26px 'Malgun Gothic',sans-serif;
    color: #222;
}
div.contents>section.coNews>dl>dt>time{
    font: 14px/14px 'dotum',sans-serif;
    color: #666
}
div.contents>section.coNews>dl>dd{
    font: 14px/22px "dotum",sans-serif;
    color: #333;
}
div.contents>section.coNews>div{

}
div.contents>section.coNews>div>div.banner{
    overflow: hidden;
}
div.contents>section.coNews>div>div.banner>div.bannerList{
    display: flex;
    position: relative;
    width: 300%;

}
div.contents>section.coNews>div>div.banner>div.bannerList>ul{
    flex: 0 1 33.33333%; width: 33.333333%;
    border-bottom: 1px solid #e1e1e1;
}
div.contents>section.coNews>div>div.banner>div.bannerList>ul>li{
    display: flex; align-items: center;
    height: 60px; border-top: 1px solid #e1e1e1;
}
div.contents>section.coNews>div>div.banner>div.bannerList>ul>li>b{
    flex: 0 0 57px; width: 57px;
}
div.contents>section.coNews>div>div.banner>div.bannerList>ul>li>a{
    flex: 0 1 auto;
    display: block; padding: 0 20px 0 5px;
    overflow: hidden;white-space: nowrap;
    text-overflow: ellipsis;
    font: 14px/60px 'Malgun Gothic',sans-serif;
    color: #222;
}
div.contents>section.coNews>div>div.banner>div.bannerList>ul>li>time{
    flex: 0 0 63px;
    width: 63px;
    font: 13px/13px 'Malgun Gothic',sans-serif;
}
div.contents>section.coNews>div>div.ctrl{
    position: relative;
    margin-top: 43px; height: 21px;
}
div.contents>section.coNews>div>div.ctrl>p.btnPrev{
    position: absolute;
    left: 0;top: 0;
    width: 12px; height: 21px;
    background: url(../../imgs/btn_main_news_left.png) no-repeat 0 0;
}
div.contents>section.coNews>div>div.ctrl>p.btnNext{
    position: absolute;
    right: 0;top: 0;
    width: 12px; height: 21px;
    background: url(../../imgs/btn_main_news_right.png) no-repeat 0 0;
}
div.contents>section.coNews>div>div.ctrl>ul.paging{
    text-align: center;
    height: 21px;
}
div.contents>section.coNews>div>div.ctrl>ul.paging>li{
    vertical-align: middle;
    display: inline-block;
    width: 14px;height: 12px;
    background: url(../../imgs/mainnews_indicator.png)no-repeat 50% 50%;
}
div.contents>section.coNews>div>div.ctrl>ul.paging>li.on{
    background: url(../../imgs/mainnews_indicator_on.png)no-repeat 50% 50%;
}

/* BR EVENT */
div.contents>div.coInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0 0 793px;
}
div.contents>div.coInfo>section{
    flex: 0 1 auto; width: calc(50% - 10px);
    border-top: 2px solid var(--bg-pink);
}
div.contents>div.coInfo>section:nth-child(1),
div.contents>div.coInfo>section:nth-child(2){
    height: 365px;
}
div.contents>div.coInfo>section:nth-child(odd){
    margin-right: 10px;
}
div.contents>div.coInfo>section:nth-child(even){
    margin-left: 10px;
}
div.contents>div.coInfo>section>a{
    display: block;
}
div.contents>div.coInfo>section>a>div{
    margin: 0 20px;
}
div.contents>div.coInfo>section>a>div>h1{
    background: url(../../imgs/img_menu_more02.png)no-repeat 100% 50%;
}
div.contents>div.coInfo>section>a>div>p.txt{
    font: 14px/22px "Malgun Gothic", sans-serif;
    letter-spacing: -1px;
    color: var(--subfont-brown1);
}
div.contents>div.coInfo>section>a>p.pic{
    margin-top: 35px;
}
div.contents>div.coInfo>section>a>p.pic>img{
    vertical-align: top;
    width: 100%;
}

section.etc{
    margin-top: 80px;
    padding-bottom:100px;}
section.etc>ul{
    display: flex;
    justify-content: space-between;
}
section.etc>ul>li{
    flex: 0 0 384px; 
    width: 384px;
    height: 97px;
}
section.etc>ul>li:nth-child(2){
    width: 385px;
}
section.etc>ul>li>a{
    display: flex; align-items: center;
    border: 2px solid var(--bg-pink);
    color: var(--subfont-brown1);
    height: 97px;
}
section.etc>ul>li>a>img:nth-child(1){
    margin-left: 27px;
}
section.etc>ul>li>a>span{
    margin: 0 20px;
    width: 230px;
}
section.etc>ul>li>a>img:nth-child(3){
    
}
p.dirTop{
    position: absolute;z-index: 9999;bottom: 20px;right: 0;
    width: 50px; height: 50px;
}